 

.fondo{
    background-image: url(imagenes/fondoastro.png);
    background-size: cover;
    height: auto;
    padding: 5% 8%;
     
}
.h2ciencia{
    
    color: aliceblue;
}


.card{
    margin-top: 2%;
    background-color: rgb(214, 245, 245) !important;
    opacity: 0.5;
}